<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cat and Dog Classifier</title>
  </head>
  <body>
    <div>
      <h1>Upload an image of a cat or dog</h1>
      <form method="post" enctype="multipart/form-data" action="/predict">
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Predict">
      </form>
    </div>
  </body>
</html>
